 Question 2: Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd

In [2]:
def reindex_dataframe(df):
    df.index=pd.RangeIndex(start=1 , step=2 , stop=len(df)*2)
    return df

In [3]:
df = pd.DataFrame({'A': [10, 20, 30, 40],
                   'B': [50, 60, 70, 80],
                   'C': [90, 100, 110, 120]})

In [4]:
new_df=reindex_dataframe(df)

In [5]:
print(new_df)

    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

Question 3: You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [11]:
values = {'values': [10, 20, 30, 40, 50]}

In [12]:
df=pd.DataFrame(values)

In [17]:
sum=0
for i in range(0,3):
    sum=sum+(df['values'][i])
    
print(sum)

60

In [14]:
df

   values
0      10
1      20
2      30
3      40
4      50

Question 4: Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [56]:
df = pd.DataFrame({'text': ['This is a sample sentence.',
                            'Another sentence with more words.',
                            'One more sentence.']})

In [57]:
df

                                text
0         This is a sample sentence.
1  Another sentence with more words.
2                 One more sentence.

In [63]:
def func(df):
    df['word_count']=df['text'].apply(lambda x : len(x.split()))
    return df 

df1=func(df)
df1

                                text  word_count
0         This is a sample sentence.           5
1  Another sentence with more words.           5
2                 One more sentence.           3

Question 5: How are DataFrame.size() and DataFrame.shape() different?

Both DataFrame.size() and DataFrame.shape() are methods used in Pandas to obtain information about the size and shape of a DataFrame. However, they provide different types of information:

DataFrame.size(): This method returns the total number of elements in a DataFrame. It counts all the elements, including both rows and columns, and returns a single integer value. The size is calculated as the product of the number of rows and the number of columns in the DataFrame. The result represents the total number of cells or entries in the DataFrame.

DataFrame.shape(): This method returns a tuple representing the dimensions of a DataFrame. It provides information about the number of rows and columns in the DataFrame. The shape is returned as a tuple in the format (number of rows, number of columns). The result indicates the size or extent of the DataFrame along each dimension.

In summary, DataFrame.size() returns the total number of elements in the DataFrame, while DataFrame.shape() provides the number of rows and columns in the DataFrame as a tuple. The former gives a single integer value representing the total number of cells, while the latter provides a tuple representing the dimensions of the DataFrame.

In [64]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

In [66]:
df.size

9

In [67]:
df.shape

(3, 3)

Q6. Which function of pandas do we use to read an excel file?

The function used to read an Excel file in pandas is pd.read_excel().

In [1]:
#Ans6
ex-pd.read_excel("ABC.xlsx")
#this code is just an ex

Question 7 : You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'column.

In [71]:
df = pd.DataFrame({'email': ['john.doe@example.com',
                             'jane.smith@example.com',
                             'james.brown@example.com']})

In [72]:
def func(df):
    df['username']=df['email'].apply(lambda x : x.split('@')[0])
    return df 

df1=func(df)
df1

                     email     username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  james.brown@example.com  james.brown

Question 8: You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

|     | A   | B   | C   |
|:---:|:---:|:---:|:---:|
|0    |3    |5    |1    |
|1    |8    |2    |7    |
|2    |6    |9    |4    |
|3    |2    |3    |5    |
|4    |9    |1    |2    |

## Your function should select the following rows

|     | A   | B   | C   |
|:---:|:---:|:---:|:---:|
|1    |8    |2    |7    |
|4    |9    |1    |2    |

---

In [79]:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

In [85]:
def func(df):
    df=df[(df['A']>5) & (df['B']<10)]
    return df 

df1=func(df)
df1

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

 Question 9 : Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [88]:
df = pd.DataFrame({'values': [10, 20, 30, 40, 50]})

In [90]:
def func(df):
    mean=df['values'].mean()
    median=df['values'].median()
    std_dev=df['values'].std()
    return mean , median , std_dev

mean , median , std_dev = func(df)
print(mean)
print(median)
print(std_dev)

30.0
30.0
15.811388300841896

Question 10 : Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day

In [93]:
df = pd.DataFrame({
    'date': pd.date_range(start='2023-01-01', periods=10),
    'sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

In [94]:
def func(df):
    df['movinf_avg']=df['sales'].rolling(window=7 , min_periods=1).mean()
    return df

In [95]:
df1=func(df)
df1

        date  sales  movinf_avg
0 2023-01-01     10        10.0
1 2023-01-02     20        15.0
2 2023-01-03     30        20.0
3 2023-01-04     40        25.0
4 2023-01-05     50        30.0
5 2023-01-06     60        35.0
6 2023-01-07     70        40.0
7 2023-01-08     80        50.0
8 2023-01-09     90        60.0
9 2023-01-10    100        70.0

## Question 11: You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.Monday, Tuesday) corresponding to each date in the 'Date' column.

|     |Date      |
|:---:|:--------:|
|0    |2023-01-01|
|1    |2023-01-02|
|2    |2023-01-03|
|3    |2023-01-04|
|4    |2023-01-05|

## Your function should create the following DataFrame:

|     |Date      |Weekday  |
|:---:|:--------:|:-------:|
|0    |2023-01-01|Sunday   |  
|1    |2023-01-02|Monday   |
|2    |2023-01-03|Tuesday  |
|3    |2023-01-04|Wednesday|
|4    |2023-01-05|Thursday |

## The function should return the modified DataFrame.
---

In [96]:
df = pd.DataFrame({'Date' : ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})

In [97]:
def func(df):
    df['Date']=pd.to_datetime(df['Date'])
    df['Weekday']=df['Date'].dt.day_name()
    return df

df=func(df)
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Question 12 :Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [5]:
df=pd.DataFrame({'Date':pd.date_range(start='2023-01-01' , end='2023-02-28')})

In [6]:
def func(df):
    return df[(df['Date']>='2023-01-01') & (df['Date']<='2023-01-31')]

In [7]:
df1=func(df)

In [8]:
df1

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Question 13: To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is pandas itself. Pandas is a powerful data manipulation and analysis library in Python, and it provides various data structures and functions to work with structured data, including the DataFrame object which is commonly used in pandas operations.

To import pandas, you can use the following import statement:

In [9]:
import pandas as pd